<div class="content">
        <a>Register</a>
        <input class="form-control" id="emailIN" ng-model="emailIN" placeholder="email"><br>
        <input class="form-control" id="passwordIN" ng-model="passwordIN" placeholder="password">
        <a ng-click = "add(emailIN, passwordIN)" class="cd-btn">Submit</a>
    
        <a>Sign In</a>
        <input class="form-control" id="emailIn" ng-model="emailIn" placeholder="email"><br>
        <input class="form-control" id="passwordIn" ng-model="passwordIn" placeholder="password">
        <a ng-click = "login(emailIn, passwordIn)" class="cd-btn">Submit</a>
    <a>{{usernameDisplay}}</a>
</div>